asgiref==3.3.4
backports.zoneinfo==0.2.1
cachetools==5.3.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==3.2.0
coreapi==2.3.3
coreschema==0.0.4
cssselect==1.2.0
cssutils==2.7.1
Django==3.2
django-bootstrap-form==3.4
django-cors-headers==3.7.0
django-filter==2.4.0
django-pagination-bootstrap==2.4.5
djangorestframework==3.12.4
drf-yasg==1.20.0
idna==2.10
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.0.1
packaging==20.9
Pillow==10.0.0
premailer==3.10.0
psycopg2==2.9.9
PyMySQL==1.1.0
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
ruamel.yaml==0.17.7
ruamel.yaml.clib==0.2.2
sqlparse==0.4.1
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==3.0.1
urllib3==1.26.5
yagmail==0.15.293
