main, .content-prov-inicial{
  background-color: black;
 
}

.main-add{
  height: 850px;
}

.content-prov-inicial{
  margin-left: 6em;
  margin-top: -3em;
}

.div-upd, .div-upd-image{
  display: inline-flex;
  margin-bottom: 1em;
}

.div-upd-image{
  display: contents;
}

main h1{
  text-align: left;
  color: rgb(248, 248, 248);
  margin-bottom: 3em;
  margin-left: 2em;
  padding-top: 1em;
}

.content-filter{
    background-color: black;
    width: 100;
    height: 1000px;
    text-align: center;
   
}


.content-filter .card, .content-prov-inicial .card{
    width: 340px;
    height: 200px;
    margin-bottom: 2em; 
    background-color: rgba(44, 43, 43, 0.15);
    backdrop-filter: blur(6px);
    display: inline-flex;
   
    border: 2px solid rgb(21, 88, 195);
    border-radius: 15px;
    margin-left: 1em;
    transition: all 1s ease;
}

.content-filter .card:hover, .content-prov-inicial .card:hover{
    width: 360px;
    height: 230px;
    border: 2px solid #ffff;
}

.title-card{
    font-size: 23px;
    color: black;
}
.title-panel{
  margin-left: 3em;
}
.resultado, .resultado-prov{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: -1em;
}

.resultado-prov{
  margin-left: 5em;
  margin-top: -1em;
}

.nombre-prov{
  color: #fff;
  margin-left: 3em;
  margin-top: 10px;
}
.frame-mapa{
    width:108em;
    height:42em;
    margin-top: 2em;
    overflow-y:hidden;
    border-radius: 15px;
    border: 2px solid #0454ff;
}

.content-filter .div-frame{
    width:108em;
    height:2em;
    position: relative;
    top:44em;
    left: 88px;
    background-color: rgba(44, 43, 43, 0.15);
    backdrop-filter: blur(6px);
    z-index: 1;
    text-align: end;
}

.content-filter .div-frame i{
    margin-right: 1em;
    margin-top: 5px;
    font-size: 20px;
    
}

.form-filter{
  margin-bottom: 3em;
  margin-top: -2em;
}

.form-filter select{
  border-radius: 5px;
  
  height: 45px;
}

.div-button{
  margin-left: 42%;
  width: 390px;
  position: absolute;
  top: -20px;
  left: 40em;
}

.div-button .btn {
    margin-top: 3em;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(21, 88, 195);
    min-width: 300px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(4, 68, 245, 0.1);
    box-sizing: border-box;
    padding: 40px 80px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .div-button .btn:hover {
    opacity: .9;
    color: #fff;
  }

.btn-ver-todo, .btn-filtrar-prov{
  position: absolute;
  left: 5em;
  top: 6em;
  }

  .btn-filtrar-prov{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    }

    .btn-filter-prov{
      width: 120px;
      height: 40px;
      border-radius: 6px;

    }
  
  .btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
      color: #fff;
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
      color: #fff;
    }
  }

  .card-panel {
    position: relative;
    margin-right: 0.5em;
    width: 23em;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 22.4em;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #407fec;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 6s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  