.main-class-listado, .main-class{
   background: #000;
   width: 100%;
   height: 100%;
   
}

.main-class-listado{
    height: 1080px;
}

nav{
    margin-top: -5em;
}

.main-class{
    height: 1080px;
   
}
.pegatitle-margin h1{
    color: aliceblue;
    margin-left: 10em;
    padding-top: 2em;
}

.item-style{
    color: aliceblue;
    
}

.item-style a{
    color: aliceblue;
    
}


.ol-margin{
    margin-left: 25.5em;
    
}

.div-form{
    margin-left: 35em;
    margin-top: 2em;
    width: 800px;
    
}

.textarea-style{
    overflow: hidden;
}


.main-style{
    text-align: center;
    margin: 0;
    
}

.section-style{
    margin-left: 50em;
}

.table-style{
    background: #000;
    width: 1100px;
    margin: 0 auto;
}


.datatable-input{
    margin-top: 1em;
    border-radius: 6px solid #000;
}

.datatable-sorter{
    color: #000;
   
}
.div-input{
    margin-top: 1em;
}
.div-input input{
  color: rgb(0, 0, 0);
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(200, 198, 198)
}

.btn-margin{
    margin-top: 2em;
    
}


