
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Actualizar cartel</title>
{% endblock head_content %}

{% block container %}
<main id="main" class="main main-class">
    <div class="pagetitle pegatitle-margin">
        <h1>Actualizar cartel</h1>
        <nav>
          <ol class="breadcrumb ol-margin">
            <li class="breadcrumb-item item-style"><a href="{% url 'listado'%}">Actualizar carteles</a></li>
            <li class="breadcrumb-item item-style"><a target="_blank" href="{% url 'mapa'  %}">Ver Mapa</a></li>
            <li class="breadcrumb-item item-style"><a href="{% url 'listado'  %}">Listado</a></li>
            <li class="breadcrumb-item item-style"><a href="{% url 'logout'  %}">Salir</a></li>
           
          </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
          <div class="col-lg-6">
    
            <div class="card div-form">
              <div class="card-body">
               
    
                <!-- Horizontal Form -->
                <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li
                                {% if message.tags %} 
                                    class="{{ message.tags }}"
                                {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <div style="display:none" >
                        {{form.usuario.errors}}
                        <label for="{{form.usuario.id_for_label}}" class="col-lg-3 control-label">usuario</label>
                        {{form.usuario}}
                    </div>
                    <div class="col-12 div-input">
                       {{form.nombre.errors}}
                        <label for="{{form.nombre.id_for_label}}" class="col-lg-3 control-label">Nombre del cartel </label>
                       {{form.nombre}}
                        
                    </div>
                    <div class="col-12 div-input">
                      {{form.metros_cuadrados.errors}}
                       <label for="{{form.metros_cuadrados.id_for_label}}" class="col-lg-3 control-label">M²2</label>
                      {{form.metros_cuadrados}}
                       
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="row mb-4 mt-4 ">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Precios($)</label>
                      <div class="col-sm-4">
                          <select class="form-select" style="margin-left:3.8em;" name="precio" aria-label="State">
                            {% for precio in precios  %}
                                {% if precio.proveedor ==  cartel.proveedor%}
                                <option value="0" selected>Proveedor: {{cartel.proveedor}}</option>
                              
                                <option value="{{precio.precio}}">{{precio.precio}} - {{precio.descripcion}}</option>
                                
                                {% endif %}
                              
                              {% endfor %}
                              
                             
                            </select>
                      </div>
                    </div>
                    
                    {% endif %}
                    <div class="col-12 div-input">
                      {{form.altura.errors}}
                       <label for="{{form.altura.id_for_label}}" class="col-lg-3 control-label">Altura</label>
                      {{form.altura}}
                       
                   </div>
                   <div class="col-12 div-input">
                    {{form.largo.errors}}
                     <label for="{{form.largo.id_for_label}}" class="col-lg-3 control-label">Largo</label>
                    {{form.largo}}
                     
                    </div>
                    <div class="col-12 div-input">
                        {{form.latitud.errors}}
                         <label for="{{form.latitud.id_for_label}}" class="col-lg-3 control-label">Latitud</label>
                        {{form.latitud}}
                         
                     </div>
                     <div class="col-12 div-input">
                        {{form.longitud.errors}}
                         <label for="{{form.longitud.id_for_label}}" class="col-lg-3 control-label">Longitud</label>
                        {{form.longitud}}
                         
                     </div>
                     <div class="col-12 div-input">
                        {{form.direccion.errors}}
                         <label for="{{form.direccion.id_for_label}}" class="col-lg-3 control-label">Dirección</label>
                        {{form.direccion}}
                         
                     </div>
                     <div class="col-12 div-input" style="display:none">
                      {{form.proveedor.errors}}
                       <label for="{{form.proveedor.id_for_label}}" class="col-lg-3 control-label">Proveedor</label>
                      {{form.proveedor}}
                       
                    </div>
                    <div class="col-12 div-input">
                      {{form.imagen_cartel.errors}}
                       <label for="{{form.imagen_cartel.id_for_label}}" class="col-lg-3 control-label">Imagen del cartel</label>
                      {{form.imagen_cartel}}
                       
                   </div>
                    <div class="col-12 div-input">
                        {{form.localidad.errors}}
                         <label for="{{form.localidad.id_for_label}}" class="col-lg-3 control-label">Localidad</label>
                        {{form.localidad}}
                         
                    </div>
                    </div>
                    
                    
                    
                    
                  
                  <div class="text-center">
                    <button type="submit" style="background: #1558c3;" class="btn btn-primary btn-margin">Actualizar</button>
                    
                  </div>
                </form><!-- End Horizontal Form -->
    
              </div>
            </div>
        </div>
    </section>


</main>


{% endblock container %}












{