
{% extends 'base.html' %}
{% load static %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}
{% block container %}
<body>
    <main >
        <h1>CARTELES</h1>
        <div class="div-button">
            
            <a href="{% url 'mapa'  %}" >
                <button class="btn"><i class="animation"></i>Ver mapa <i class="fa-solid fa-map-location-dot"></i><i class="animation"></i>
                </button>
            </a>
            
        </div>
        <div class="content-filter" id="content-filter">
            <a href="{% url 'dashboard' %}">
                <button type="button"  class="btn btn-primary btn-ver-todo">Ver todo</button>
            </a>
            <form method="post">
                {% csrf_token %}
                
                <div class="form-filter">
                    <select name="id_proveedor" >
                        <option value="0" selected>Seleccionar proveedor</option>
                        {% for proveedor in proveedores  %}
                        <option value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                        
                        {% endfor %}
                    </select>
                    <button type="submit"  class="btn btn-primary">Filtrar</button>
                    

                </div>
                

                {% for localidad in localidades  %}
                
                    {% for total in total_final  %}
                    
                        {% if total.localidad_id == localidad.id  %}
                            <div class="card">
                            <h1 class="title-card"> Cantidad en: {{localidad.nombre}}</h1>
                            <p class="resultado">{{total.total}}</p>
                            </div> 
                        
                        {% endif %}
                    
                    {% endfor %}
                    
                    
                
                    

                    
                
                
                {% endfor %}
            </form>
            
            
        
        
            
            
            
        </div>
    
    </main>
</body>
{% endblock container %}