
{% extends 'base.html' %}
{% load static %}
{% block head_content %}
<title>Dashboard</title>
{% endblock head_content %}
{% block container %}
<body>
    <main >
        <h1>CARTELES</h1>
        <div class="div-button">
            
            <a href="{% url 'mapa'  %}" >
                <button class="btn"><i class="animation"></i>Ver mapa <i class="fa-solid fa-map-location-dot"></i><i class="animation"></i>
                </button>
            </a>
            
        </div>
        
        <div class="content-prov-inicial" id="content-filter">
            <a href="{% url 'dashboard-filter' %}">
                <button type="button" id="btn-todos-prov" class="btn btn-primary btn-filtrar-prov">Filtrar</button>
            </a>
            
    
                {% for localidad in localidades  %}
                
                    {% for total in total_proveedores  %}
                        {% if total.localidad_id == localidad.id  %}
                            <div class="card">
                            <h1 class="title-card"> Cantidad en: {{localidad.nombre}}</h1>
                            <p class="resultado-prov">{{total.total}}</p>
                            
                            
                            </div> 
                        
                        {% endif %}
                    
                    {% endfor %}
                    
                    
                
                    

                    
                
                
                {% endfor %}

            
            
            
        
            
            
            
        </div>
    
    </main>
</body>
{% endblock container %}