
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Actualizar cartel</title>
{% endblock head_content %}

{% block container %}
<body>
  <main id="main" class="main main-class-listado">
      <div class="pagetitle pegatitle-margin">
          <h1>Listado carteles</h1>
          <nav>
            <ol class="breadcrumb ol-margin">
              <li class="breadcrumb-item item-style"><a href="{% url 'formulario'  %}">Nuevo cartel</a></li>
              {% if  request.user.is_superuser %}
                <li class="breadcrumb-item item-style"><a target="_blank" href="{% url 'mapa'  %}">Ver Mapa</a></li>
              {%endif%}
              <li class="breadcrumb-item item-style"><a href="{% url 'logout'  %}">Salir</a></li>
            
            </ol>
          </nav>
      </div><!-- End Page Title -->
      <section class="section">
          <div class="row">
              <div class="col-lg-12">
          
                <div class="card table-style">
                  <div class="card-body ">
                  
                  
          
                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Localidad</th>
                          <th scope="col">Imagen</th>
                          {% if request.user.is_superuser %}
                          <th scope="col">Proveedor</th>
                          <th scope="col">Precio por m²2</th>
                          {% endif %}
                          <th scope="col">Acción</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        {% if not request.user.is_superuser %}
                          {% for c in cartel %}
                          <tr>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.localidad }}</td>
                            <td><img class="img-cartel" src="/media/{{ c.imagen_cartel }}"></td>
                            <td>
                              <a href="{% url 'actualizar' c.id %}">
                                <i class="fa-regular fa-pen-to-square" style="color: #1558c3; font-size:25px"></i>
                              </a>
                              <button type="button" style="border: none; outline: none; background:#ffffff" data-toggle="modal" data-target="#exampleModalLong{{ c.id }}">
                                <i class="fa-solid fa-trash" style="color: #1558c3;font-size:25px"></i>
                              </button>
                            </td>
                          </tr>
                        
                          <!-- Modal for each item -->
                          <div class="modal fade" id="exampleModalLong{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Eliminar cartel</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  ¿Seguro que desea eliminar el cartel: {{ c.nombre }}?
                                  <img class="img-cartel" src="/media/{{ c.imagen_cartel }}"></td>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  <a href="{% url 'eliminar' c.id %}">
                                    <button type="button" class="btn btn-primary">Eliminar</button>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        {%endif%}
                        {% if request.user.is_superuser %}
                        {% for c in carteles %}
                          <tr>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.localidad }}</td>
                            <td><img class="img-cartel" src="/media/{{ c.imagen_cartel }}"></td>
                            <td>{{ c.proveedor }}</td>
                            {% if c.metros_cuadrados_precio == None %}
                            <td><p class="btn btn-danger">Sin actualizar</p></td>
                            {% endif  %}
                            {% if c.metros_cuadrados_precio != None %}
                            <td><p class="btn btn-success">{{c.metros_cuadrados_precio}}</p></td>
                            {% endif %}
                            <td>
                              <a href="{% url 'actualizar' c.id %}">
                                <i class="fa-regular fa-pen-to-square" style="color: #1558c3; font-size:25px"></i>
                              </a>
                              <button type="button" style="border: none; outline: none; background:#ffffff" data-toggle="modal" data-target="#exampleModalLong{{ c.id }}">
                                <i class="fa-solid fa-trash" style="color: #1558c3;font-size:25px"></i>
                              </button>
                            </td>
                          </tr>
                        
                          <!-- Modal for each item -->
                          <div class="modal fade" id="exampleModalLong{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Eliminar cartel</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  ¿Seguro que desea eliminar el cartel: {{ c.nombre }}?
                                  <img class="img-cartel" src="/media/{{ c.imagen_cartel }}"></td>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  <a href="{% url 'eliminar' c.id %}">
                                    <button type="button" class="btn btn-primary">Eliminar</button>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                        
                        {% endif %}
                        
                      </tbody>
                    </table>
                    <!-- Button trigger modal -->
                    
                                    <!-- Modal -->
                  
                  </div>
                </div>
          
              </div>
            </div>
      </section>


  </main>
</body>
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>

{% endblock container %}