
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Actualizar cartel</title>
{% endblock head_content %}

{% block container %}
<main id="main" class="main main-class-listado">
    <div class="pagetitle pegatitle-margin">
        <h1>Listado carteles</h1>
        <nav>
          <ol class="breadcrumb ol-margin">
            <li class="breadcrumb-item item-style"><a href="{% url 'formulario'  %}">Nuevo cartel</a></li>
            <li class="breadcrumb-item item-style"><a target="_blank" href="{% url 'mapa'  %}">Ver Mapa</a></li>
            <li class="breadcrumb-item item-style"><a href="{% url 'logout'  %}">Salir</a></li>
           
          </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
        
              <div class="card table-style">
                <div class="card-body ">
                 
                 
        
                  <!-- Table with stripped rows -->
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Accion</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for c  in carteles  %}
                      
                      
                        <tr>
                          <td>{{c.nombre}}</td>
                          <td>{{c.localidad}}</td>
                          <td><img class="img-cartel" src="/media/{{ c.imagen_cartel }}"></td>
                          <td>
                            <a href="{% url 'actualizar' c.id %}"><i class="fa-regular fa-pen-to-square" style="color: #1558c3; font-size:25px"></i></a>
                            <a href="{% url 'eliminar' c.id %}"><i class="fa-solid fa-trash" style="color: #1558c3;font-size:25px"></i></a>
                          </td>
                          
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
        
                </div>
              </div>
        
            </div>
          </div>
    </section>


</main>


{% endblock container %}