
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Listado</title>
{% endblock head_content %}

{% block container %}
<main style="height:900px">
  <div class="container-fluid px-4">   
    <div class="card mb-4 card-body-table">
      {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                          <li
                              {% if message.tags %} 
                                  class="{{ message.tags }}"
                              {% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
        {% endif %}
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listado de precios
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Precio</th>
 
                  <th scope="col">Acción</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for precio in lista_precio %}
                  <tr>
                    <td>{{precio.proveedor}}</td>
                    <td>{{precio.descripcion}}</td>
                    <td>{{precio.precio}}</td>
                    <td>
                      <a href="{% url 'actualizar-precio' precio.id %}">
                        <i class="fa-regular fa-pen-to-square" style="color: #1558c3; font-size:25px"></i>
                      </a>
                      <a href="{% url 'eliminar-precio' precio.id %}">
                        <i class="fa-solid fa-trash" style="color: #1558c3;font-size:25px"></i>
                      </a>
                      
                    </td>
                  </tr>
                {% endfor %}
                
                
              </tbody>
            </table>
        </div>
    </div>
  </div>
</main>


{% endblock container %}