{% extends 'base.html' %}
{% block head_content %}

<title>OpenLayers 3 example</title>

{% endblock head_content %}
   
{% block container %}
<body style="overflow-x: hidden; overflow-y: hidden;">
  <section style="overflow-x: hidden; overflow-y: hidden;">
    <div class="content-btn" style="overflow-x: hidden; overflow-y: hidden;">
      <a href='{% url "dashboard" %}'>
        <button class="btn-dashboard" ><i class="fa-sharp fa-solid fa-gauge" style="color: #1558c3;"></i> Resumen</button>
      </a> 
      
      <button type="submit" class="ClearButton" id="buttonFilter"><i class="fa-solid fa-repeat" style="color: #1558c3;"></i> Reiniciar mapa  </button>
      
      <button class="btn-filtros btn-solicitar" id="filtros" onclick="maximizar_filtros()"><i class="fa-solid fa-filter" style="color: #1558c3;"></i> Filtros </button>
      <button class="btn-filtros btn-solicitar " id="solicitar-excel" onclick="solicitar_datos()"><i class="fa-solid fa-filter" style="color: #1558c3;"></i>Solicitar Excel</button>
      <button class="btn-filtros btn-descargar" id="descargar-excel" onclick="descargar_datos()"><i class="fa-solid fa-filter" style="color: #1558c3;"></i>Descargar Excel</button>
      <h1>Proveedores:</h1>
      {% for prov in proveedor  %}
      <p>{{ prov.nombre }}: <img  src="/media/{{ prov.icono }}" alt="Imagen"></p>
      {% endfor %}
      
      <div  id="map" class="map">
        
        <div id="ol-popup-filter" class="ol-popup-filter">
          
          <div id="filter-content" class="ol-popup-content-filter">
            <button type="submit" onclick="minimizar_filtros()"  class="minimizar" >Cerrar</button>
           
            <p id="dato-encontrado">Se encontraron datos <i class="fa-solid fa-check"></i></p> 
            <h2 id="dato-no-encontrado" class="dato-no-encontrado">No hay filtros aplicados </h2> 
            <form method="post">
              {% csrf_token %}

          
      
              <select class="select-filter" name="selectLocalidad" id="selectLocalidad">

                <option value='0' selected>Localidad</option>
                {% for l in localidad  %}
                <option value="{{l.id}}">{{l.nombre}}</option>
                {% endfor %}
                
              </select>
              <select class="select-filter" name="selectProveedor" id="selectProveedor">

                <option value='0' selected>Proveedor</option>
                {% for p in proveedor  %}
                <option value="{{p.id}}">{{p.nombre}}</option>
                {% endfor %}
                
              </select>
      
            
            
              <button type="submit" class="miButton" >Filtrar</button>
              
              

            </form>
            
                

              
            
            
            
          </div>
          
        </div>
      </div>
      <div id="popup"  class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content" class="ol-popup-content"></div>
        </div>
      </div>
    </div>  
  </section>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         
        </div>
        
      </div>
    </div>
  </div>
  
  <script>

 

    var buttonFilter = document.getElementById('buttonFilter');
    buttonFilter.addEventListener("click", function() {
      localStorage.clear();
      location.href="{% url 'mapa'  %}"
      
    });
 
    coordenadas = [
      {% for ubi in ubicaciones  %}
            {
                'id':{{ubi.id}},
                'proveedor':'{{ubi.proveedor.id}}',
                'latitud': {{ubi.latitud}},
                'longitud': {{ubi.longitud}}
                
            },
    
      {% endfor %}
        

    ]

    iconos = [
      {% for icon in proveedor %}
            {
              'id':{{icon.id}},
              'ruta':'{{icon.icono}}'
            },

      {% endfor%}
    ]
    
   
    datos_cartel = [
        {% for ubi in ubicaciones  %}
            {
                'id':{{ubi.id}},
                'proveedor':'{{ubi.proveedor}}',
                'nombre': '{{ubi.nombre}}',
                'altura':'{{ubi.altura}}',
                'largo':'{{ubi.largo}}',
                'direccion':'{{ubi.direccion}}',
                'localidad':'{{ubi.localidad}}',
                'ultima_modificacion': '{{ubi.fecha_actualizacion}}',
                'latitud': {{ubi.latitud}},
                'longitud': {{ubi.longitud}},
                'imagen':'{{ubi.imagen_cartel}}',
                'metros_cuadrados':{{ubi.metros_cuadrados}},
                'metros_precio': '{{ubi.metros_cuadrados_precio}}'
                
            },
    
        {% endfor %}

    ]

    filtros_ubicacion = 
    [
      {% for filtro in data  %}
        {
          'id': {{filtro.id}},
          'proveedor':'{{filtro.proveedor.id}}',
          'longitud':{{filtro.longitud}}, 
          'latitud':{{filtro.latitud}}
        
        },
      
      {% endfor %}
    ]
    console.log(filtros_ubicacion)
    
  </script>
</body>
{% endblock container %}  