
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Nuevo Cartel</title>
{% endblock head_content %}

{% block container %}
<main class="main-add">
  <div class="container-fluid px-4">   
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-header"><h3 class="text-center font-weight-light my-4">Nuevo cartel</h3></div>
      <div class="card-body">
            <form role="form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li
                                {% if message.tags %} 
                                    class="{{ message.tags }}"
                                {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row mb-3">
                  <input type="hidden" name="usuario" value="{{request.user.id}}">
                
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                        <input class="form-control" type="text" name="nombre" />
                        <label for="inputFirstName">Nombre del cartel</label>
                    </div>
                  </div>
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                        <input class="form-control" type="text" name="altura" id="altura" onchange="calcular_metros()" />
                        <label for="inputFirstName">Altura de cartel</label>
                    </div>
                  </div>
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                        <input class="form-control" type="text" name="largo" id="largo" onchange="calcular_metros()" />
                        <label for="inputFirstName">Largo de cartel</label>
                    </div>
                  </div>
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                        <input class="form-control" type="text" name="metros_cuadrados" id="metros_cuadrados" />
                        <label for="inputFirstName">Metros cuadrados</label>
                    </div>
                  </div>
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                        <input class="form-control" type="text"  name="latitud" id="latitud" />
                        <label for="inputFirstName">Latitud</label>
                    </div>
                  </div>
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                        <input class="form-control" type="text"  name="longitud" id="longitud" />
                        <label for="inputFirstName">Longitud</label>
                    </div>
                  </div>
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                        <input class="form-control" type="text"  name="direccion" />
                        <label for="inputFirstName">Direccion</label>
                    </div>
                  </div>

                  {% if  request.user.is_superuser %}
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                      <select class="form-select" name="proveedor" aria-label="State">
                        <option selected>Seleccionar</option>
                        {% for p in proveedores  %}
                        <option value="{{p.id}}">{{p.nombre}}</option>
                        {% endfor %}
                        
                       
                      </select>
                      <label for="inputFirstName">Proveedor</label>
                    </div>
                  </div>

                  {%else%}
                  {% for p in proveedores  %}
                        {% if p.user.id == request.user.id  %}
                            <input type="hidden" name="proveedor" value="{{p.id}}">
                        
                        {% endif %}
                                    
                                
                  {% endfor %}

                  {%endif%}

                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                      <select class="form-select" name="localidad" aria-label="State">
                        <option selected>Seleccionar</option>
                        {% for l in localidad  %}
                        <option value="{{l.id}}">{{l.nombre}}</option>
                        {% endfor %}
                        
                       
                      </select>
                      <label for="inputFirstName">Localidad</label>
                    </div>
                  </div>             
                  <div class="col-md-6 div-add-cartel">
                    <div class="form-floating">
                      <div><label for="inputFirstName">Imagen del cartel</label> </div>
                      
                      <input type="file" name="imagen_cartel" required="" id="id_imagen_cartel">
                      
                    </div>
                  </div> 
                        
                      
                </div>
              
              <div class="card-footer text-center py-3">
                <button type="submit" style="background: #1558c3;" class="btn btn-primary">Guardar</button>
              </div>
          </form>
      </div>
      
  </div>
  </div>
</main>
   



{% endblock container %}