
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>Carga de obra</title>
{% endblock head_content %}

{% block container %}
<main id="main" class="main main-class">
    <div class="pagetitle pegatitle-margin">
        <h1>Cargar nuevo cartel</h1>
        <nav>
          <ol class="breadcrumb ol-margin">
            <li class="breadcrumb-item item-style"><a href="{% url 'listado'%}">Actualizar carteles</a></li>
            <li class="breadcrumb-item item-style"><a target="_blank" href="{% url 'mapa'  %}">Ver Mapa</a></li>
            <li class="breadcrumb-item item-style"><a href="{% url 'logout'  %}">Salir</a></li>
           
          </ol>
        </nav>
     </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
          <div class="col-lg-6">
    
            <div class="card div-form">
              <div class="card-body">
               
    
                <!-- Horizontal Form -->
                <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li
                                {% if message.tags %} 
                                    class="{{ message.tags }}"
                                {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                  <div class="row mb-3 ">
                    <div class="row mb-3 ">
                        <input type="hidden" name="usuario" value="{{request.user.id}}">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre </label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="nombre" >
                        </div>
                      </div>
                      
                      <div class="row mb-3 ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Altura de cartel</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="altura" id="altura" onchange="calcular_metros()">
                        </div>
                      </div>

                      <div class="row mb-3 ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Largo de cartel</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="largo" id="largo" onchange="calcular_metros()">
                        </div>
                      </div>

                      <div class="row mb-3 ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Metros cuadrados</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="metros_cuadrados" id="metros_cuadrados">
                        </div>
                      </div>
                      
                      <div class="row mb-3 ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Latitud</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="latitud" id="latitud">
                        </div>
                      </div>
                      <div class="row mb-3 ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Longitud</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="longitud" id="longitud">
                        </div>
                      </div>
                      <div class="row mb-3 ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Dirección</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="direccion">
                        </div>
                      </div>
                      
                            
                               
                      {% for p in proveedores  %}
                        {% if p.user.id == request.user.id  %}
                            <input type="hidden" name="proveedor" value="{{p.id}}">
                        
                        {% endif %}
                                    
                                
                     {% endfor %}
                                
                               
                              
                        
                      <div class="row mb-3 ">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Localidad</label>
                        <div class="col-sm-10">
                            <select class="form-select" name="localidad" aria-label="State">
                                <option selected>Seleccionar</option>
                                {% for l in localidad  %}
                                <option value="{{l.id}}">{{l.nombre}}</option>
                                {% endfor %}
                                
                               
                              </select>
                        </div>
                      </div>
                      
                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Imagen del cartel</label>
                        <div class="col-sm-10">
                          <input type="file" name="imagen_cartel" required="" id="id_imagen_cartel">
                        </div>
                      </div>
                  
                  <div class="text-center">
                    <button type="submit" style="background: #1558c3;" class="btn btn-primary">Guardar</button>
                    
                  </div>
                </form><!-- End Horizontal Form -->
    
              </div>
            </div>
        </div>
    </section>


</main>


{% endblock container %}